@using WebApp.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@model ComplexInfo

@helper CardTemplate(FilmInfo el,int id1)
{

    <div class="card flex-row w-100" data-toggle="modal" data-target="#myModal_@id1" style="cursor:grab">

        <img class="card-img-top w-25" src="@el.PosterFilePAth" alt="Кинофка">
        <div class="card-body text-nowrap w-75">
            <h5 class="card-title">@el.Name</h5>
            <div class="card-text">Краткие сведения: <em class="text-center text-wrap" style="width:100%">@el.Info</em></div>
            @if (@el.Year > 0)
            {
                <div class="card-text">Год: @el.Year</div>
            }
            else
            {
                <div class="card-text">Год: Не установлен</div>
            }

            @if (@el.Genre != null)
            {
                <div class="card-text">Жанр: @el.Genre.Name</div>
            }
            else
            {
                <div class="card-text">Жанр: Не указан</div>
            }

            @if (@el.User != null)
            {
                <div class="card-text">Добавлено: @el.User</div>
            }
            else
            {
                <div class="card-text">Добавлено: Не указано</div>
            }
        </div>

    </div>

    string enableEdit = "";
    enableEdit = "disabled";
    ApplicationUser activeUser = ViewBag.activeUser;

    if (el.Email == activeUser?.Email)
    {
        enableEdit = "";
    }
    <a href="@Url.Action("Edit","home", new {id=el.Id})" class="card-link btn btn-info btn-sm @enableEdit">редактировать</a>
    <a href="@Url.Action("Delete","home", new {id=el.Id})" class="card-link btn btn-warning btn-sm @enableEdit">удалить</a>



}

@helper Modaltemplate(FilmInfo el,int id1)
{

    <div class="modal fade" id="myModal_@id1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Подробно о фильме</h4>
                </div>
                <div class="modal-body">

                    @CardTemplate(el,id1)

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

}


@helper GenreList(IEnumerable<Genre> genres)
{
    foreach (Genre el in genres)
    {
        <li class="nav-item p-1 sideMenuItem" id=@el.Name>
            <a href="@Url.Action("Index","home")" class="nav-link" data-toggle="tab">
                @el.Name
            </a>
        </li>
    }
}


@helper FilmInfoList(IEnumerable<FilmInfo> cards)
{
    foreach (FilmInfo el in cards)
    {
        @Modaltemplate(el,el.Id)
        @CardTemplate(el, el.Id);
    }
}

@{
    ViewBag.Title = "Фильмотека";
}
<div class="col-sm-3 col-md-2 bg-light rounded">
    <ul class="sideMenu nav nav-tabs navbar-brand flex-column ">
        @GenreList(Model.Genres)
    </ul>
</div>
<div class="col-sm-9 col-md-10">
    @FilmInfoList(Model.Cards)
</div>
